* {
    margin: 0;
    padding: 0;
  }

  html, body {
  height: 100%;
}
  
  body {
    background-image: url("../assets/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .img-background {
    display: none;
  }


.summoner-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    color: white;
  }

.ranks {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: white;
}

.sum-Icon {
    width: 100px;
}

.sum-Name {
    width: 100%;
}

.sum-Level {
    width: 100%;
}

.rank-Icon {
    width: auto;
    height: 150px;
    text-align: center;
}

h2, h3 {
    text-align: center;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: 700;
    text-decoration-line: underline;
}

h5 {
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 1rem;
}

a.btn{
    background: linear-gradient(to right,#05e5fc ,#247dc7);
    background-color: #05e5fc;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
   }
   a.btn:hover{
    background: linear-gradient(to right,#51e8fc ,#588fcd);
    background-color: #51e8fc;
   }
   a.btn:active{
    transform: scale(0.95);
   }

.input {
    background-color: #001220;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border-radius: 10px;
    display: inline-block;
    border-image: linear-gradient(to right,#51e8fc ,#588fcd) 1;
    outline: none;
}

.mastery {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.champion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .champion img {
    width: 100px;
    height: 100px;
  }
  
  .champion p {
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }